{% extends "base.html" %}

{% block h1 %}{{ performance.performance }}{% endblock %}
{% block p_lead %}{{ performance.description }}{% endblock %}

{% block content %}

<div class='container'>
    {% if error %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>{{ error }}</h4>
        </div>
    {% endif %}
    <div class='col-md-3 center whole_buyer buyer'>
        <form action="" method="post">
        {% csrf_token %}
        <div class='col-md-12 center buyer'>{{ seat_count }} tickets available</div>
        {% for price in prices %}
            <div class='col-md-12 center buyer'>
                {{ price.buyer_type }} £{{ price.price|floatformat:2 }}
                <select class="selectbuyer" name="{{ price.buyer_type }}">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select>
            </div>
        {% endfor %}

            <div class='col-mg-12 center buyer'>
                <button type="submit" class="btn btn-large btn-success">Buy tickets</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}

